body{
  background-color:#6AC49C;
}
.new_home_web .text-blk.subHeading {
  text-align: center;
  color: #000;
  max-width: 630px;
}

.new_home_web .text-blk.heading {
  font-size: 36px;
  line-height: 55px;
  font-weight: 600;
  margin-top: 0px 0px 20px 0px ;
}

.new_home_web .responsive-container-block.textContainer {
  flex-direction: column;
  align-items: center;
  margin-top: 50px 0px 40px 0px ;
  max-width: 1320px;
  z-index: 50;
}

.new_home_web .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-12.wk-ipadp-12 {
  width: 50%;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 25px;
  padding-left: 10px;
}

.new_home_web .send {
  font-size: 18px;
  color: white;
  font-weight: 600;
  background-color: #646175;
  width: 80%;
  text-align: center;
  padding: 15px 0px ;
 
}

.new_home_web .container-block.form-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  z-index: 50;
}

.new_home_web .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-7.wk-ipadp-10.line {
  width: 100%;
  padding: 0px;
  max-width: 1100px;
}

.new_home_web .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-5.wk-ipadp-10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  max-width: 310px;
  padding: 0px 40px 0px 0px;
 
}

.new_home_web .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
  margin: 0px 0px 30px 0px ;
  padding-top: 0px 10px 0px 10px;
  width: 100%;
}

.new_home_web .textinput {
  height: 100%;
  width: 100%;
  border-width: 2px;
  border-style: solid;
  border-color: #a2a2a2;
  border-radius: 5px;
  font-size: 16px;
  padding: 20px 30px 20px 20px;
  background-color: #f1f1f1;
}

.new_home_web .input {
  height: 50px;
  width: 100%;
  border-width: 2.5px;
  border-style: solid;
  border-color: #a2a2a2;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 15px 5px 15px;
 
  background-color: #f1f1f1;
}

.new_home_web .responsive-container-block.big-container {
  padding-top: 0px 50px ;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.new_home_web .responsive-container-block.container {
  max-width: 1320px;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-top: 0px auto 60px auto ;
  z-index: 50;
}

.new_home_web .responsive-cell-block {
  min-height: 75px;
}

/* .new_home_web a {
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
  text-decoration-color: initial;
} */

.new_home_web .responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
}

.new_home_web * {
  font-family: Nunito, sans-serif;
}

.new_home_web .text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  line-height: 25px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.new_home_web .left4 {
  width: 50%;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.new_home_web .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12.lastPhone {
  margin: 0px;

}

.new_home_web .blueText {
  color:var(--clr-blue);
}

.new_home_web .blueLine {
  height: 10px;
  width: 160px;
  background-color: #646175;
}

.new_home_web .topHead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 40px;
  margin-left: 0px;
  margin: 0 0 25px 0;
}


