
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --clr-blue: #1A91F0;
  --clr-blue-mid: #1170CD;
  --clr-blue-dark: #1A1C6A;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}
body {
  min-height: 75vh;
  font-size: 120%;
  /* background-color: var(--clr-blue-dark); */
  background-image: url("../img/login.png");
  /* opacity: 0.5; */
  background-size: cover;
}
.container{
  margin-left: 500px;
}
.header {
  width: 55%;
  margin: 140px auto 0px;
  color:#053339;
  background:#6AC49C;
  text-align: center;
  border: 2px solid #000;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}
form, .content {
  width: 55%;
  margin: 0px auto;
  padding: 20px;
  border: 2px solid #000;
  background: white;
  border-radius: 0px 0px 10px 10px;
}
.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 10px;
  background-color: rgb(201, 200, 200);
  border: 1px solid grey;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color:#053339;
  background:  #6AC49C;
  font-weight: bold;
  /* border: none; */
  border-radius: 5px;
}
.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}